{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Login{% endblock title %}
{% block content %}
    <body>
        <style type="text/css">
            .bg-soft *{ color:#fff !important }
            form{ padding-top:20px }
            form input, label{ margin-top:15px; } 
            .card-body{ border:1px solid #ccc; }
            .btn-primary { margin-left:12px !important }
        </style>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft ">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary">Welcome Back !</h5>
                                            <p>Sign in to continue to gatewaytrifecta</p>
                                        </div>
                                    </div>
                                    <div class="col-3 align-self-end">
                                        <img src="{% static 'images/profile-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                            
                                <div class="p-2">
                                    <style>
                                        button, input{ width:250px; }
                                    </style>
                                    <form class="form-horizontal" action="{% url 'account:account_login' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% for message in messages %}
                                                <div class="alert {{ message.tags }} mb-4 text-center" role="alert">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                        {% endfor %} 
                                        
                                        {{ form }}
                                        
                                        <div class="mt-3 d-grid" style="text-align: center;">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit">Log In</button>
                                        </div>
                                        <div>
                                            
                                        </div>
            
                                        <div class="mt-4 text-center">
                                            <h5 class="font-size-14 mb-3">Sign in with</h5>
            
                                           
                                        </div>

                                        <div class="mt-4 text-center">
                                            <a href="{% url 'account:account_reset_password' %}" class="text-muted"><i class="mdi mdi-lock me-1"></i> Forgot your password?</a>
                                        </div>
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-4 text-center">
                            
                            <div>
                                <p>Don't have an account ? <a href="{% url 'account:account_signup' %}" class="fw-medium text-primary"> Signup now </a> </p>
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end account-pages -->
    
{% endblock content %}
