{% extends 'partials/base_public.html' %}
{% load static %}


{% block extra_css %}

{% endblock %}
{% block contents %}
                   



<!--Banner-->
<section class="bannermain position-relative">
    <figure class="mb-0 bgshape">
        <img src="{% static 'images_public/homebanner-bgshape.png' %}" alt="" class="img-fluid">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="banner" data-aos="fade-right">
                    <h6>Simple. Transparent. Secure </h6>
                    <h1>The Smart Way for<span>Online Payment</span> Solution.</h1>
                    <p class="banner-text">Lorem ipsum dolor sit amet, consectetur adipisc ing elit sed do eiusmod tempor.</p>
                    <div class="button"><a  class="button_text" href="#">Open a Free Account</a></div>
                </div>
            </div>
            <div class=" col-lg-7 col-md-7 col-sm-12">
                <div class="banner-wrapper">
                    <figure class="mb-0 homeelement1">
                        <img src="{% static 'images_public/homeelement1.png' %}" class="img-fluid" alt="">
                    </figure>
                    <figure class="mb-0 banner-image">
                        <img src="{% static 'images_public/homebanner-image.png' %}" class="img-fluid" alt="banner-image">
                    </figure>
                    <figure class="mb-0 content img-bg">
                        <img src="{% static 'images_public/homebanner-img-bg.png' %}" alt="banner-image-bg">
                    </figure>
                    <figure class="mb-0 homeelement">
                        <img src="{% static 'images_public/homeelement.png' %}" class="img-fluid" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!--What-we-do-->
<section class="what-we-do position-relative">
    <div class="container">
        <figure class="element1 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-1.png' %}" class="img-fluid" alt="">
        </figure>
        <div class="row">
            <div class="col-12">
                <div class="subheading" data-aos="fade-right">
                    <h6>What we do</h6>
                    <h2>Get Ready To Have Best Smart Payments in The World</h2>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img">
                        <img src="{% static 'images_public/what-we-do-credit-debit-icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Payment Solution</h3>
                    <p class="mb-0 text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                </div>
            </div>
            <figure class="arrow1 mb-0" data-aos="fade-down">
                <img src="{% static 'images_public/what-we-do-arrow-1.png' %}"  class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1 service2">
                    <figure class="img">
                        <img src="{% static 'images_public/what-we-do-growth--icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Growth Business</h3>
                    <p class="mb-0 text-size-18">Labore et dolore magna aliqua quis ipsum suspendisse ultrices gravida risus commo ddolore magnao.</p>
                </div>
            </div>
            <figure class="arrow2 mb-0" data-aos="fade-up">
                <img src="{% static 'images_public/what-we-do-arrow-2.png' %}"  class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img">
                        <img src="{% static 'images_public/what-we-do-connected-people-icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Connected People</h3>
                    <p class="mb-0 text-size-18">viverra maecenas accumsan lacus vel facili sis consectetur adipiscing mae-cenelit seiscingsd.</p>
                </div>
            </div>
            <figure class="element3 mb-0">
                <img src="{% static 'images_public/what-we-do-element.png' %}" alt="">
            </figure>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-12">

            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="account" data-aos="fade-right">
                    <div class="accounticon">
                        <figure class="mb-0">
                            <img src="{% static 'images_public/what-we-do-personal-account-icon.png' %}" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <div class="heading">
                        <h3 class="mb-0">PERSONAL ACCOUNT</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="account" data-aos="fade-right">
                    <div class="accounticon">
                        <figure class="mb-0">
                            <img src="{% static 'images_public/what-we-do-business-account-icon-2.png' %}" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <div class="heading">
                        <h3 class="mb-0">BUSINESS ACCOUNT</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-12">

            </div>
            <figure class="element2 mb-0">
                <img src="{% static 'images_public/what-we-do-icon-2.png' %}" class="img-fluid" alt="">
            </figure>
        </div>
    </div>
</section>
<!--About Repay-->
<section class="about-repay">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="about-wrapper">
                    <figure class="circle mb-0">
                        <img src="{% static 'images_public/image-2-bg.png' %}" alt="">
                    </figure>
                    <div class="position-relative">
                        <a class="popup-vimeo" href="https://video-previews.elements.envatousercontent.com/h264-video-previews/d1c81f1e-849f-4d45-ae57-b61c2f5db34a/25628048.mp4">
                            <figure class="mb-0 videobutton">
                                <img class="thumb img-fluid" style="cursor: pointer" src="{% static 'images_public/play-button.png' %}" alt="">
                            </figure>
                        </a>
                    </div>
                    <figure class="image mb-0">
                        <img src="{% static 'images_public/image-2.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement mb-0">
                        <img src="{% static 'images_public/homeelement.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement1 mb-0">
                        <img src="{% static 'images_public/homeelement.png' %}" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="about-content"  data-aos="fade-up">
                    <h6>ABOUT Gatewaytrifecta</h6>
                    <h2>We Have The Most Users All Over The World</h2>
                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    <p class="text-size-18 text">magna aliquaQuis ipsum suspendisse ultrices gravida. Risus com- modo viverra maecenas.</p>
                    <div class="right-lower">
                        <figure class="mb-0 icon">
                            <img src="{% static 'images_public/happy-customer-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <span>55k+</span>
                            <h4 class="mb-0">Happy Customers</h4>
                        </div>
                        <figure class="mb-0 icon">
                            <img src="{% static 'images_public/total-customers-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content content1">
                            <span>$249M+</span>
                            <h4 class="mb-0">Total Transections</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Services section-->
<section class="service-section">
    <div class="container">
        <div class="row position-relative">
            <div class="service-content">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <figure class="mb-0 services-icon">
                        <img src="{% static 'images_public/services-our-services-icon-1.png' %}" class="img-fluid" alt="">
                    </figure>
                    <h6>OUR SERVICES</h6>
                    <h2>Smart Solution for Your Payment</h2>
                    <figure class="service-image" data-aos="fade-up">
                        <img src="{% static 'images_public/services-our-services-image.png' %}" class="img-fluid" alt="">
                    </figure>
                </div>
            </div>
        </div>
        <figure class="element1 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-1.png' %}" class="img-fluid" alt="">
        </figure>
        <div class="services-data">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img1">
                            <img src="{% static 'images_public/services-payment-management-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Payment Management</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img2">
                            <img src="{% static 'images_public/services-dashboard-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Personal Dashboard</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img3">
                            <img src="{% static 'images_public/services-integrated-payment-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Integrated Payments</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img4">
                            <img src="{% static 'images_public/services-friendly.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Business Tracking</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <figure class="mb-0 mobile-image" data-aos="fade-right">
                        <img src="{% static 'images_public/services-mobile-image.png' %}" alt="" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img5">
                            <img src="{% static 'images_public/services-credit-debit-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Credit & Debit Card</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <figure class="element2 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-2.png' %}" class="img-fluid" alt="">
        </figure>
    </div>
</section>
<!-- manage -->
<section class="manage-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="manage-content"  data-aos="fade-right">
                    <h2>Manage Everything in Your Hand</h2>
                    <div class="first">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="{% static 'images_public/manageyour-user-friendly-icon.png' %}" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <h4>User Friendly</h4>
                                    <p class="text-size-16 text">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="secound">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="{% static 'images_public/manageyour-best-support-icon.png' %}" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <h4>Best Support</h4>
                                    <p class="text-size-16">Sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt Lorem ipsum dolor sit ametcon.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="third">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                <figure class="mb-0 icon">
                                    <img src="{% static 'images_public/manageyour-secure-icon.png' %}" alt="">
                                </figure>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                                <div class="content">
                                    <h4>Secure</h4>
                                    <p class="text-size-16">Adipiscing elit sed do eiusmod tempor in cididod temunt. Lorem ipsum dolor sit ametcon sec tetur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="manage-wrapper">
                    <figure class="mb-0 homeelement1">
                        <img src="{% static 'images_public/homeelement1.png' %}" class="img-fluid" alt="">
                    </figure>
                    <figure class="mb-0 manage-image">
                        <img src="{% static 'images_public/manage-your-everything-image.png' %}" class="img-fluid" alt="">
                    </figure>
                    <figure class="mb-0 content img-bg">
                        <img src="{% static 'images_public/manageyour-mange-your-bg.png' %}" alt="" class="">
                    </figure>
                    <figure class="mb-0 homeelement">
                        <img src="{% static 'images_public/homeelement.png' %}" class="img-fluid" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 manage-layer">
        <img src="{% static 'images_public/mange-layer.png' %}" alt="" class="img-fluid">
    </figure>
</section>
<!-- plan and pricing -->
<section class="plan">
    <div class="container">
        <figure class="element1 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-1.png' %}" class="img-fluid" alt="">
        </figure>
        <div class="row position-relative">
            <div class="col-12">
                <div class="content" data-aos="fade-right">
                    <h6>PLAN AND PRICING</h6>
                    <h2>Helping You Make Smart Financial Choices</h2>
                    <figure class="element3 mb-0">
                        <img src="{% static 'images_public/what-we-do-element.png' %}" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Bank Transfer</h3>
                            <p class="mb-0 text1 text">*Fees (excl VAT)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="{% static 'images_public/price-payment-icon.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>e-Wallet</h3>
                            <p class="mb-0 text1 text">*Need Verification </p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="{% static 'images_public/price-payment-icon.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Credit Card</h3>
                            <p class="mb-0 text1 text">*Fees (excl VAT)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="{% static 'images_public/price-payment-icon.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pricing box">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h3>Cardless Credit</h3>
                            <p class="mb-0 text1 text">*Account Must be registered</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="online-payment">Online Payment</h4>
                            <p class="mb-0 text1 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <h4 class="payout">Payout</h4>
                            <p class="mb-0 text">3.5% plus USD 1.00</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <figure class="mb-0 icon">
                                <img src="{% static 'images_public/price-payment-icon.png' %}" alt="" class="img-fluid">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="facility" data-aos="fade-up">
                    <ul class="mb-0 list-unstyled">
                        <li class="text1">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Free Account</p>
                        </li>
                        <li class="text2">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">No Monthly Cost</p>
                        </li>
                        <li class="text3">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">No Fee Setup</p>
                        </li>
                        <li class="text4">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Easy to Setup</p>
                        </li>
                        <li class="text5">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Integration</p>
                        </li>
                        <li class="text6">
                            <i class="fa-regular fa-circle-check font1"></i>
                            <p class="mb-0 text-size-16">Custom price</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <figure class="element2 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-2.png' %}" class="img-fluid" alt="">
        </figure>
    </div>
</section>
<!-- need more help? -->
<section class="need-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content" data-aos="fade-right">
                    <h6>NEED MORE HELP?</h6>
                    <h2>Leading, Trusted. Enabling growth.</h2>
                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntabore et dolore aliquaQuis ipsum suspe.</p>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img1">
                        <img src="{% static 'images_public/need-sales-icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Sales</h3>
                    <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed</p>
                    <a href="#" class="btn">Contact Sales</a>
                </div>
            </div>
            <figure class="arrow1 mb-0" data-aos="fade-down">
                <img src="{% static 'images_public/need-arrow1.png' %}" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1 service2">
                    <figure class="img img2">
                        <img src="{% static 'images_public/need-more-icon2.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Help & Support</h3>
                    <p class="text-size-18">Labore et dolore magna aliqua quis ipsum suspendisse ultrices</p>
                    <a href="#" class="btn">Get Support</a>
                </div>
            </div>
            <figure class="arrow2 mb-0" data-aos="fade-up">
                <img src="{% static 'images_public/need-arrow-2.png' %}" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img3">
                        <img src="{% static 'images_public/need-more-icon-3.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Article & News</h3>
                    <p class="text-size-18">viverra maecenas accumsan lacus vel facili sis consectetur adipiscing</p>
                    <a href="#" class="btn">Read Article</a>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 need-layer">
        <img src="{% static 'images_public/need-layer.png' %}" alt="" class="img-fluid">
    </figure>
</section>
<!-- Partner -->
<!-- Footer -->
<section class="footer-section">
    <div class="partner-section"> 
        <div class="container">
            <div class="partner">
                <ul class="mb-0 list-unstyled">
                    <li>
                        <figure class="mb-0 partner1">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-1.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner2">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-2.png' %}" alt="">
                        </figure>
                    </li>
                    <li class="img-mb">
                        <figure class="mb-0 partner1 partner3">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-3.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner4">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-4.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner5">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-5.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner5">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-6.png' %}" alt="">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="middle-portion">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                    <a href="#">
                        <figure class="footer-logo">
                            <img src="{% static 'images_public/footer-logo.png' %}" class="img-fluid" alt="">
                        </figure>
                    </a>
                    <p class="text-size-16 footer-text">Lorem ipsum dolor sit amet, consectetur adipisc ing elitsed do eiusmod tempororem ipsum dolor sit am econsect ametconsectetetur.</p>
                    <figure class="mb-0 payment-icon">
                        <img src="{% static 'images_public/payment-card.png' %}" class="img-fluid" alt="">
                    </figure>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-12 d-lg-block d-none">

                </div>
                <div class="col-lg-2 col-md-3 col-sm-12 col-12 d-md-block d-none">
                    <div class="links">
                        <h4 class="heading">Important Link</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Home</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">About Us</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Services</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Contact</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Pricing</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-12 d-lg-block d-none">
                    <div class="links">
                        <h4 class="heading">Support</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Support</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Plan</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Benefits</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Testimonial</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Coming Soon</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Members</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-sm-block">
                    <div class="icon">
                        <h4 class="heading">Get in Touch</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li class="text-size-16 text">Email: <a href="mailto:info@gatewaytrifecta.com" class="mb-0 text text-decoration-none text-size-16">info@gatewaytrifecta.com</a></li>
                            <li class="text-size-16 text">Phone: <a href="tel:+4733378901" class="mb-0 text text-decoration-none text-size-16">+1 234 567 89 0 0</a></li>
                            <li class="text-size-16 text1">Fax: <a href="tel:+198765432199" class="mb-0 text text-decoration-none text-size-16">+1 (987) 654 321 9 9</a></li>
                            <li class="social-icons">
                                <div class="circle"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-twitter"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-linkedin"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-pinterest"></i></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








{% endblock %}


{% block extra_javascript %}
      
      

{% endblock %}