{% extends 'partials/base_public.html' %}
{% load static %}


{% block extra_css %}

{% endblock %}
{% block contents %}
                   



<!-- Sub-Banner -->
<div class="sub-banner">
    <section class="banner-section">
        <figure class="mb-0 bgshape">
            <img src="{% static 'images_public/homebanner-bgshape.png' %}" alt="" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="banner_content">
                        <h1>Our Services</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <div class="box">
        <span class="mb-0 text-size-16">Home</span><span class="mb-0 text-size-16 dash">-</span><span class="mb-0 text-size-16 box_span">Service</span>
    </div>
</div>
<!--Services section-->
<section class="service-section service position-relative">
    <div class="container">
        <figure class="mb-0 services-icon">
            <img src="{% static 'images_public/services-our-services-icon-1.png' %}" class="img-fluid" alt="">
        </figure>
        <div class="services-data">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img1">
                            <img src="{% static 'images_public/services-payment-management-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Payment Management</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img2">
                            <img src="{% static 'images_public/services-dashboard-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Personal Dashboard</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img3">
                            <img src="{% static 'images_public/services-integrated-payment-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Integrated Payments</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img4">
                            <img src="{% static 'images_public/services-friendly.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Business Tracking</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img5">
                            <img src="{% static 'images_public/services-credit-debit-icon.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Credit & Debit Card</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="service-box">
                        <figure class="img img6">
                            <img src="{% static 'images_public/secure.png' %}" alt="" class="img-fluid">
                        </figure>
                        <div class="content">
                            <h3>Secure Payments</h3>
                            <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed do eiusmod tempor in cididod temunt.</p>
                            <a href="#" class="more">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <figure class="element1 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-1.png' %}" class="img-fluid" alt="">
        </figure>
    </div>
</section>
<!-- Payment -->
<section class="payment-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <h6>Payment Gateway</h6>
                    <h2>The Best Solution for Accepting Online Payments</h2>
                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaQuis ipsum suspendisse ultrices gravida.</p>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 need-layer">
        <img src="{% static 'images_public/need-layer.png' %}" alt="" class="img-fluid">
    </figure>
</section>
<!-- Payment video -->
<div class="videosection">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="position-relative" data-aos="fade-up">
                    <a class="popup-vimeo" href="https://video-previews.elements.envatousercontent.com/h264-video-previews/d1c81f1e-849f-4d45-ae57-b61c2f5db34a/25628048.mp4">
                        <figure class="mb-0 vediosession">
                            <img class="thumb img-fluid" style="cursor: pointer" src="{% static 'images_public/image-videosession.png' %}" alt="">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Benefits-->
<section class="benefit-section position-relative">
    <div class="container">
        <figure class="element1 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-1.png' %}" class="img-fluid" alt="">
        </figure>
        <div class="row">
            <div class="col-12">
                <div class="subheading">
                    <h6>Benefits</h6>
                    <h2>Benefits Using E-Wallet Gatewaytrifecta for You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="benefit-wrapper">
                    <figure class="circle mb-0">
                        <img src="{% static 'images_public/image-2-bg.png' %}" alt="">
                    </figure>
                    <figure class="benefit-image mb-0">
                        <img src="{% static 'images_public/benefit-image.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement mb-0">
                        <img src="{% static 'images_public/homeelement.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement1 mb-0">
                        <img src="{% static 'images_public/homeelement.png' %}" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="benefit-content" data-aos="fade-right">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="content">
                                <figure class="icon icon1">
                                    <img src="{% static 'images_public/happy-customer-icon.png' %}" alt="" class="img-fluid">
                                </figure> 
                                <h4>Pay Bill</h4>
                                <p class="text-size-16 mb-0">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed.</p>
                            </div>   
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="content-box">
                                <figure class="icon icon2">
                                    <img src="{% static 'images_public/total-customers-icon.png' %}" alt="" class="img-fluid">
                                </figure>
                                <h4>Membership</h4>
                                <p class="text-size-16">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-downcontent">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="content">
                                    <figure class="icon icon1">
                                        <img src="{% static 'images_public/happy-customer-icon.png' %}" alt="" class="img-fluid">
                                    </figure> 
                                    <h4>Withdraw</h4>
                                    <p class="text-size-16 mb-0">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="content">
                                    <figure class="icon icon2">
                                        <img src="{% static 'images_public/total-customers-icon.png' %}" alt="" class="img-fluid">
                                    </figure> 
                                    <h4>Investment</h4>
                                    <p class="text-size-16 mb-0">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed.</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <figure class="element2 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-2.png' %}" class="img-fluid" alt="">
        </figure>
    </div>
</section>
<!--Testimonial-->
<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="content" data-aos="fade-right">
                    <figure class="quote-icon">
                        <img src="{% static 'images_public/quote-icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h6>TESTIMONIAL</h6>
                    <h2>What Our Clients Said</h2>
                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <div class="button"><a  class="button-text text-size-16 text-decoration-none" href="#">More Testimonial</a></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="testimonial-wrapper">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="review_content">
                                    <img src="{% static 'images_public/team4.png' %}" alt="">
                                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscin elit, sed do eiusmod tempor incididunt ut labor et doloremagna aliquaquis.</p>
                                    <h4 class="mb-0">Rebekah Gislason</h4>
                                    <span class="text-size-16">company.com</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="review_content">
                                    <img src="{% static 'images_public/team5.png' %}" alt="">         
                                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscin elit, sed do eiusmod tempor incididunt ut labor et doloremagna aliquaquis.</p>
                                    <h4 class="mb-0">Kevin Andred</h4>
                                    <span class="text-size-16">company.com</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="review_content">
                                    <img src="{% static 'images_public/team6.png' %}" alt="">         
                                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscin elit, sed do eiusmod tempor incididunt ut labor et doloremagna aliquaquis.</p>
                                    <h4 class="mb-0">Even White</h4>
                                    <span class="text-size-16">company.com</span>
                                </div>
                            </div>
                            <div class="pagination-outer">
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <i class="fa-solid fa-arrow-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <i class="fa-solid fa-arrow-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div> 
                    <figure class="mb-0 testimonial-circle">
                        <img src="{% static 'images_public/testimonial-backimage.png' %}" alt="">
                    </figure>
                    <figure class="homeelement mb-0">
                        <img src="{% static 'images_public/homeelement.png' %}" alt="" class="img-fluid">
                    </figure>
                    <figure class="homeelement1 mb-0">
                        <img src="{% static 'images_public/homeelement.png' %}" alt="" class="img-fluid">
                    </figure>
                </div> 
            </div>
        </div>
    </div>
    <figure class="mb-0 manage-layer">
        <img src="{% static 'images_public/mange-layer.png' %}" alt="" class="img-fluid">
    </figure>
</section>
<!-- Partner -->
<!-- Footer -->
<section class="footer-section">
    <div class="partner-section"> 
        <div class="container">
            <div class="partner">
                <ul class="mb-0 list-unstyled">
                    <li>
                        <figure class="mb-0 partner1">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-1.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner2">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-2.png' %}" alt="">
                        </figure>
                    </li>
                    <li class="img-mb">
                        <figure class="mb-0 partner1 partner3">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-3.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner4">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-4.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner5">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-5.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner5">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-6.png' %}" alt="">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="middle-portion">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                    <a href="#">
                        <figure class="footer-logo">
                            <img src="{% static 'images_public/footer-logo.png' %}" class="img-fluid" alt="">
                        </figure>
                    </a>
                    <p class="text-size-16 footer-text">Lorem ipsum dolor sit amet, consectetur adipisc ing elitsed do eiusmod tempororem ipsum dolor sit am econsect ametconsectetetur.</p>
                    <figure class="mb-0 payment-icon">
                        <img src="{% static 'images_public/payment-card.png' %}" class="img-fluid" alt="">
                    </figure>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-12 d-lg-block d-none">

                </div>
                <div class="col-lg-2 col-md-3 col-sm-12 col-12 d-md-block d-none">
                    <div class="links">
                        <h4 class="heading">Important Link</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Home</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">About Us</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Services</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Contact</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Pricing</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-12 d-lg-block d-none">
                    <div class="links">
                        <h4 class="heading">Support</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Support</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Plan</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Benefits</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Testimonial</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Coming Soon</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Members</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-sm-block">
                    <div class="icon">
                        <h4 class="heading">Get in Touch</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li class="text-size-16 text">Email: <a href="mailto:info@gatewaytrifecta.com" class="mb-0 text text-decoration-none text-size-16">info@gatewaytrifecta.com</a></li>
                            <li class="text-size-16 text">Phone: <a href="tel:+4733378901" class="mb-0 text text-decoration-none text-size-16">+1 234 567 89 0 0</a></li>
                            <li class="text-size-16 text1">Fax: <a href="tel:+198765432199" class="mb-0 text text-decoration-none text-size-16">+1 (987) 654 321 9 9</a></li>
                            <li class="social-icons">
                                <div class="circle"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-twitter"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-linkedin"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-pinterest"></i></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}


{% block extra_javascript %}
      
      

{% endblock %}