{% extends 'partials/base_public.html' %}
{% load static %}


{% block extra_css %}

{% endblock %}
{% block contents %}

<!-- Sub-Banner -->
<div class="sub-banner">
    <section class="banner-section">
        <figure class="mb-0 bgshape">
            <img src="{% static 'images_public/homebanner-bgshape.png' %}" alt="" class="img-fluid">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="banner_content">
                        <h1>Contact Us</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <div class="box">
        <span class="mb-0 text-size-16">Home</span><span class="mb-0 text-size-16 dash">-</span><span class="mb-0 text-size-16 box_span">Contact</span>
    </div>
</div>
<!--Contact-->
<section class="message-section">
    <div class="container">
        <figure class="element1 mb-0">
            <img src="{% static 'images_public/what-we-do-icon-1.png' %}" class="img-fluid" alt="">
        </figure>
        <div class="row position-relative">
            <div class="col-12">
                <div class="content">
                    <h6>Let's Contact Us</h6>
                    <h2>Get in Touch with Us</h2>
                    <figure class="element3 mb-0">
                        <img src="{% static 'images_public/what-we-do-element.png' %}" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="message_content" data-aos="fade-up">
                    
                   

                    <form id="contactpage" method="POST" action="#">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <h4>Name:</h4>
                                    <input type="text" class="form_style" placeholder="Enter Your Name" name="name"> 
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <h4>Email:</h4>
                                    <input type="email" class="form_style" placeholder="Enter Your Email Address" name="emailid">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <h4>Phone:</h4>
                                    <input type="tel" class="form_style" placeholder="Enter Your Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0"> 
                                    <h4>Message:</h4>   
                                    <textarea class="form_style" placeholder="Add Your Comment" rows="3" name="msg"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="manage-button text-center">
                            <button type="button" class="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.3329737833114!2d144.96011341590386!3d-37.80566904135444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2s!4v1669200882885!5m2!1sen!2s"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <figure class="element2 mb-0">
                    <img src="{% static 'images_public/what-we-do-icon-2.png' %}" class="img-fluid" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- need more help? -->
<section class="need-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content" data-aos="fade-right">
                    <h6>NEED MORE HELP?</h6>
                    <h2>Leading, Trusted. Enabling growth.</h2>
                    <p class="text-size-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididuntabore et dolore aliquaQuis ipsum suspe.</p>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img1">
                        <img src="{% static 'images_public/need-sales-icon.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Sales</h3>
                    <p class="text-size-18">Lorem ipsum dolor sit ametcon sec tetur adipiscing elit sed</p>
                    <a href="#" class="btn">Contact Sales</a>
                </div>
            </div>
            <figure class="arrow1 mb-0" data-aos="fade-down">
                <img src="{% static 'images_public/need-arrow1.png' %}" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1 service2">
                    <figure class="img img2">
                        <img src="{% static 'images_public/need-more-icon2.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Help & Support</h3>
                    <p class="text-size-18">Labore et dolore magna aliqua quis ipsum suspendisse ultrices</p>
                    <a href="#" class="btn">Get Support</a>
                </div>
            </div>
            <figure class="arrow2 mb-0" data-aos="fade-up">
                <img src="{% static 'images_public/need-arrow-2.png' %}" class="img-fluid" alt="">
            </figure>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="service1">
                    <figure class="img img3">
                        <img src="{% static 'images_public/need-more-icon-3.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h3>Article & News</h3>
                    <p class="text-size-18">viverra maecenas accumsan lacus vel facili sis consectetur adipiscing</p>
                    <a href="#" class="btn">Read Article</a>
                </div>
            </div>
        </div>
    </div>
    <figure class="mb-0 need-layer">
        <img src="{% static 'images_public/need-layer.png' %}" alt="" class="img-fluid">
    </figure>
</section>
<!-- Partner -->
<!-- Footer -->
<section class="footer-section">
    <div class="partner-section"> 
        <div class="container">
            <div class="partner">
                <ul class="mb-0 list-unstyled">
                    <li>
                        <figure class="mb-0 partner1">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-1.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner2">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-2.png' %}" alt="">
                        </figure>
                    </li>
                    <li class="img-mb">
                        <figure class="mb-0 partner1 partner3">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-3.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner4">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-4.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner5">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-5.png' %}" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 partner1 partner5">
                            <img class="img-fluid" src="{% static 'images_public/partner-logo-6.png' %}" alt="">
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="middle-portion">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                    <a href="#">
                        <figure class="footer-logo">
                            <img src="{% static 'images_public/footer-logo.png' %}" class="img-fluid" alt="">
                        </figure>
                    </a>
                    <p class="text-size-16 footer-text">Lorem ipsum dolor sit amet, consectetur adipisc ing elitsed do eiusmod tempororem ipsum dolor sit am econsect ametconsectetetur.</p>
                    <figure class="mb-0 payment-icon">
                        <img src="{% static 'images_public/payment-card.png' %}" class="img-fluid" alt="">
                    </figure>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-12 d-lg-block d-none">

                </div>
                <div class="col-lg-2 col-md-3 col-sm-12 col-12 d-md-block d-none">
                    <div class="links">
                        <h4 class="heading">Important Link</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Home</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">About Us</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Services</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Contact</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Pricing</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-12 d-lg-block d-none">
                    <div class="links">
                        <h4 class="heading">Support</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Support</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Plan</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Benefits</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Testimonial</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Coming Soon</a></li>
                            <li><a href="#" class=" text-size-16 text text-decoration-none">Members</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 d-sm-block">
                    <div class="icon">
                        <h4 class="heading">Get in Touch</h4>
                        <hr class="line">
                        <ul class="list-unstyled mb-0">
                            <li class="text-size-16 text">Email: <a href="mailto:info@gatewaytrifecta.com" class="mb-0 text text-decoration-none text-size-16">info@gatewaytrifecta.com</a></li>
                            <li class="text-size-16 text">Phone: <a href="tel:+4733378901" class="mb-0 text text-decoration-none text-size-16">+1 234 567 89 0 0</a></li>
                            <li class="text-size-16 text1">Fax: <a href="tel:+198765432199" class="mb-0 text text-decoration-none text-size-16">+1 (987) 654 321 9 9</a></li>
                            <li class="social-icons">
                                <div class="circle"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-twitter"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-linkedin"></i></a></div>
                                <div class="circle"><a href="#"><i class="fa-brands fa-pinterest"></i></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}


{% block extra_javascript %}
      
      

{% endblock %}